.div1{
    position: relative;
    top: 270px;
    left: 390px;
    height: 180px;
    width: 770px;
    box-shadow: 3px 3px 8px 10px #ff0000;

}
.div2{
    position: absolute;
    left: 310px;
    top: 4px;
}
.pa{
     position: absolute;
    left: 50px;
    top: 105px;
}
.sub{
    border: 2px solid black;
    padding: 0px 20px;

}
.paa{
         position: absolute;
    left: 68px;
    top: 124px;
}
.div1::before {
    content: "";
    border-width: 13px;
    border-color: transparent transparent transparent brown;
    position: absolute;
    top: 142px;
    border-style: dashed;
    right: 379px;
}
